<!DOCTYPE html>
<html ng-app="colorApp">
<head>

  <meta charset="utf-8">
  <title>Hex color mixin</title>

  <!-- external resources -->
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-git.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  
  <!-- internal resources -->
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>


</head>

<header>
  <h2>Mixin color shade creator</h2>
</header>

<body ng-controller="ColorCtrl">

  <section class="banner"> 

    <div class="home-caption">
      <div class="home-title">Have fun! Enter a color and get lighter / darker values!</div>

      <div class="container clearfix">
        <div class="row">
          <form class="form-horizontal">
            <div class="form-group">

              <div class="input-group add-color">
                <input type="text" ng-model="enteredColor" class="form-control" id="enterColor" placeholder="enter hex or rgb value">
                <button type="submit" class="btn btn-default input-group-addon" style="min-width: 80px" ng-click="addColor()">Add</button>
              </div>

              <div class="btns">
                <button type="submit" class="btn btn-default light" ng-click="light()">10% light</button>
              <button type="submit" class="btn btn-default dark" ng-click="dark()">10% dark</button>
              </div>

            </div>
              
          </form>
        </div>
      </div>
    </div>

  </section>

  <section>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
        
          <table class="table table-bordered table-striped table-condensed">
            <tr>
              <th>Mixin color name</th>
              <th>Color</th>
              <th>Hex color</th>
              <th>RGB color</th>
              <th>CMYK color</th>
            </tr>
            <tr ng-repeat="color in colors">
              <td>{{ color.name }}</td>
              <td style="background-color:#{{ color.hexcolor }}"></td>
              <td>#{{ color.hexcolor }}</td>
              <td>{{ color.rgbcolor }}</td>
              <td>{{  color.cmykcolor }}</td>
            </tr>
          </table>

        </div>
      </div>
    </div>
    
  </section>
      
  </div>
</body>
</html>